<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ usuario }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
</head>
<body>
    <header>
        <h1>Perfil de {{ usuario }}</h1>
        <nav>
            <a href="{{ url_for('index') }}">Voltar para a loja</a>
        </nav>
    </header>
    
    <main>
        <h2>Bem-vindo ao seu perfil!</h2>
        <p>Nome: {{ usuario }}</p>
        <p>Email: {{ session['usuario_email'] }}</p>
    </main>
    
    <footer>
        <p>&copy; 2025 Full Tech Imports</p>
    </footer>
</body>
</html>
